<p>Welcome to the website for Learning Go, the best-selling O'Reilly book on the Go programming language!</p>
<p>The revised first edition of Learning Go with an updated chapter on generics and all reported errata fixed has been completed. It's available now as an ebook and online at O'Reilly Learning. Thanks to everyone who found my mistakes and reported them. You've helped make this book better, and I appreciate it.</p>
<p>If you purchased a print edition, or if you just want to learn more about what generics in Go are, why they exist, and how to use them, you can download a PDF of the chapter below.</p>
<p>More content coming soon!</p>
<p>Thanks,</p>
<p>Jon</p>
<p><a href="chapter15_learningGo.pdf">Click to Download Chapter 15: Welcome to the Future: Generics in Go</a></p>